<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
            .center {
            position: center;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
        }

        .btn:hover {
            background: #563434;
        }

        /*h3{
    text-align: center;
}

h4{
    text-align: center;
}*/
        .button {
            text-align: center;

        }

        .modal {
            border: 1px solid black;
            width: 400px;
           min-height: 400px;
             position: fixed;
            background-color: gray;
            padding: 10px;

        }


        button[id=closebtn],button[name=btnregsubmit],
        input[name=btnsignout] {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 40%;
        }


        input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }



        input[name=btnregsubmit] {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        #mybtn {
            padding: 2px 10px;
            color: white;
            outline: none;
            border: none;
            font-size: 21px;
            background-color: transparent;
        }
    </style>

</head>

<body>
    <header>
        <%- include('./signInHeader'); %>
    </header>

    <div class="modal" id="myModal">
        <h1>Registration</h1>
        <div class="modal-content">
            <form action="/btnsignout" method="POST">
                <label>Email : </label>
                <input type="text" name="txtemail"><br><br>
                <label>Password :</label>
                <input type="password" name="txtpass"><br><br>
                <input type="submit" name="btnsignout" value="Sign Out">
                <button id="closebtn">close</button><br><br>
                <a href="back">Back</a>
            </form>
        </div>
    </div>
    <!-- <form action="/addTocart" enctype="multipart/form-data" method="POST"> -->
    <table border="1px" class="border">
        <div class="box-4col">
            <% results.forEach(function(rs){ %>
                <div class="box">
                    <img src="<%=rs.productimgurl %>" height="250px" width="250px" class="img1">
                    <div class="button">
                        <!-- <h3>
                            <%=rs.brand %>
                        </h3> -->
                        <h3>
                            <%=rs.producttypename %>
                        </h3>
                        <h4>£ <%=rs.price %>
                        </h4>
                        <input type="submit" name="curtain" value="add to cart" class="btn" id="cartPro"
                            onclick='return addtoCart("<%=rs.productid %>", "<%=rs.price %>")'>
                    </div>
                </div>
                <%})%>
        </div>
        <!-- <tr>

            <td><img src="/images/curtain.jpg" height="250px" width="250px" class="img1">
                <div class="button">
                    <h3>curtain</h3>
                    <h4>£ 30</h4>

                    <input type="submit" name="curtain" value="add to cart" class="btn">
                </div>
            </td>
            <br>

            <td><img src="/images/pillow.jpg" height="250px" width="250px" class="img2">
                <div class="button">
                    <h3>pillow</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="pillow" value="add to cart" class="btn">
                </div>
            </td><br>

            <td><img src="/images/bedsheet.jpg" height="250px" width="250px" class="img3">
                <div class="button">
                    <h3 style="text-align: center;">bedsheet</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="bedsheet" value="add to cart" class="btn">
                </div>
            </td><br>

            <td><img src="/images/clock.jpg" height="250px" width="250px" class="img4">
                <div class="button">
                    <h3>clock</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="clock" value="add to cart" class="btn">
                </div>
            </td><br>

            <td><img src="/images/frame.jpg" height="250px" width="250px" class="img5">
                <div class="button">
                    <h3>frame</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="frame" value="add to cart" class="btn">
                </div>
            </td><br>
        </tr> -->
    </table>
    <!-- </form> -->

    <script type="text/javascript">
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("mybtn");
        var closebtn = document.getElementById("closebtn");

        function openpopup() {

            modal.style.display = "block";
        }
        closebtn.onclick = function () {
            modal.style.display = "none";
        }
        document.getElementById("myModal").style.display = "none";


        function addtoCart(pid, pcost) {
            console.log("pid##", pid, pcost)
            var data1 = {
                "productId": pid,
                "productCost": pcost
            }
            // fetch('http://localhost:3000/addTocart', {
            //     method: 'POST',
            //     body: JSON.stringify({"name":"abc"}),
            //     headers: {
            //         'Content-type': 'application/json'
            //     }
            // })
            //     .then(response => response.json())
            //     .then(json => {
            //         console.log(json);
            //     });
            $.ajax({

                url: "https://homedecorr.herokuapp.com/addTocart",
                enctype: 'application/json',
                data: data1,
                type: "POST",
                success: function () {
                    alert("Successfully added in cart")
                },
                error: function () {
                    alert("Oops. Something went wrong")
                }
            })
        }



    </script>


    <footer>
        <div class="contact us">
            <a href="contactus">Contact Us</a>
            <a href="aboutus" >About Us</a>
            <a href="help">Help</a><br><br>

            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <i class="fa fa-google fa-2x" aria-hidden="true" style=""></i>
        </div>
    </footer>
</body>

</html>