<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .modal {
            border: 1px solid black;
            width: 350px;
            min-height: 330px;
            display: none;

            position: fixed;
            margin-left: 500px;
            margin-top: 100px;

            background-color: gray;
            padding: 10px;

        }

        input[name=txtemail],
        input[name=txtpass] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button[id=closebtn],
        input[name=btnsignin] {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 40%;
        }

        .center {
            position: center;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
        }

        .btn:hover {
            background: #563434;
        }

        .button {
            text-align: center;
        }
    </style>
</head>

<body>

    <header>
        <%- include('./header'); %>
    </header>

    <div class="modal" id="myModal">
        <h1>Sign In</h1>
        <div class="modal-content">
            <label>Email : </label>
            <input type="text" name="txtemail"><br><br>
            <label>Password :</label>
            <input type="password" name="txtpass"><br>
            <input type="submit" name="btnsignin" value="Sign In">
            <button id="closebtn">close</button><br>
            <a href="register">Create Account</a>
            <a href="forgotpassword">Forgot Password</a>
        </div>
    </div>

    <!-- <table border="1px" class="border"> -->

        <!-- <tr>

            <td><img src="/images/bedsheet1.jpg" height="250px" width="250px" class="img1">
                <div class="button">
                    <h3>Raymond</h3>
                    <h3>bedsheet</h3>
                    <h4>£ 30</h4>
                    <input type="submit" name="bedsheet1" value="add to cart" class="btn">
                    Quantity:<select class="option" name="changestatus">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </td><br>

            <td><img src="/images/bedsheet2.jpg" height="250px" width="250px" class="img2">
                <div class="button">
                    <h3>Raymond</h3>
                    <h3>bedsheet</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="bedsheet2" value="add to cart" class="btn">
                    Quantity:<select class="option" name="changestatus">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </td><br>

            <td><img src="/images/bedsheet3.jpg" height="250px" width="250px" class="img3">
                <div class="button">
                    <h3>Raymond</h3>
                    <h3>bedsheet</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="bedsheet3" value="add to cart" class="btn">
                    Quantity:<select class="option" name="changestatus">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </td><br>

            <td><img src="/images/bedsheet4.jpg" height="250px" width="250px" class="img4">
                <div class="button">
                    <h3>Raymond</h3>
                    <h3>bedsheet</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="bedsheet4" value="add to cart" class="btn">
                    Quantity:<select class="option" name="changestatus">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </td><br>

            <td><img src="/images/bedsheet5.jpg" height="250px" width="250px" class="img5">
                <div class="button">
                    <h3>Raymond</h3>
                    <h3>bedsheet</h3>
                    <h4>£ 50</h4>
                    <input type="submit" name="bedsheet5" value="add to cart" class="btn">
                    Quantity:<select class="option" name="changestatus">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </td><br>
        </tr> -->
        <!-- <tr>
            <% results.forEach(function(rs){ %>
                <td><img src="/<%=rs.productimgurl %>" height="250px" width="250px" class="img1">
                    <div class="button">
                        <h3>
                            <%=rs.brand %>
                        </h3>
                        <h3>
                            <%=rs.producttypename %>
                        </h3>
                        <h4>£ <%=rs.price %>
                        </h4>
                        <input type="submit" name="bedsheet1" value="add to cart" class="btn">
                        Quantity:<select class="option" name="changestatus">
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </td><br>

                <%})%>
        </tr> -->
    <!-- </table> -->
<div class="box-4col">
    
</div>
<div class="box-4col">
    <% results.forEach(function(rs){ %>
    <div class="box">
       <img src="<%=rs.productimgurl %>" height="250px" width="250px" class="img1">
       <div class="button">
        <h3>
            <%=rs.brand %>
        </h3>
        <h3>
            <%=rs.producttypename %>
        </h3>
        <h4>£ <%=rs.price %>
        </h4>
        <input type="submit" name="bedsheet1" value="add to cart" class="btn">
      
    </div>
    </div>
    <%})%>
</div>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("mybtn");
        var closebtn = document.getElementById("closebtn");

        function openpopup() {
            modal.style.display = "block";
        }
        closebtn.onclick = function () {
            modal.style.display = "none";
        }
    </script>
    <script type="text/javascript">
        dbedsheet();
        function dbedsheet() {
            console.log("result###########", results);

        }

    </script>

    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>