<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body {

            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-color: white;

        }

        .center {
            position: center;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
        }

        .btn:hover {
            background: #563434;
        }

        /*h3{
    text-align: center;
}

h4{
    text-align: center;
}*/
        .button {
            text-align: center;

        }

        .modal {
            border: 1px solid black;
            width: 350px;
            height: 330px;
            display: none;

            position: fixed;
            margin-left: 500px;
            margin-top: 100px;

            background-color: gray;
            padding: 10px;

        }

        input[name=txtemail],
        input[name=txtpass] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button[id=closebtn],
        input[name=btnsignin] {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 40%;
        }

        #mybutton {
            padding: 2px 10px;
            color: white;
            outline: none;
            border: none;
            font-size: 21px;
            background-color: transparent;
        }

        .mybutton {
            padding: 10px;
            font-size: 20px;
            margin-top: 2%;
            margin-left: 30%;
        }

        .mybutton:hover {
            padding: 10px;
            font-size: 20px;
            margin-top: 2%;
            margin-left: 30%;
            background-color: lightcoral;
        }

        .table {
            margin: 0 auto;
            margin-top: 10%;
            border: 1px solid grey;
            border-collapse: collapse;
        }

        .table th {
            background-color: rgb(1, 152, 122);
            color: white;
            font-size: 20px;
            font-weight: 600;
            height: 60px;
        }

        .table td,
        tr {
            text-align: center;
            padding: 30px;
        }
    </style>

</head>

<body>

    <header>
        <%- include('./signInHeader'); %>
    </header>

    <div class="modal" id="myModal">
        <h1>Sign In</h1>
        <div class="modal-content">
            <label>Email : </label>
            <input type="text" name="txtemail"><br><br>
            <label>Password :</label>
            <input type="password" name="txtpass"><br>
            <input type="submit" name="btnsignin" value="Sign In">
            <button id="closebtn">close</button><br>
            <a href="register">Create Account</a>
            <a href="forgotpassword">Forgot Password</a>
        </div>
    </div>
    <!-- <form action="/cartItemRemovee" enctype="multipart/form-data" method="POST"> -->
    <table border="1px" class="table" width="1000px">

        <tr>
            <th>Product-description</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Remove</th>
            <th>Place Order</th>
        </tr>
        <% results.forEach(function(rs){ %>
            <tr>
                <td>
                    <%=rs.brand %> - <%=rs.producttypename %>
                </td>
                <td>
                    <%=rs.Quantity %>
                </td>
                <td>£ <%=rs.price %>
                </td>
                <td>£ <%=rs.ptotal %>
                </td>
                <td><button class="mybutton" onclick='return cartItemRemove("<%=rs.cartId %>")'>Remove</button></td>
                <td> <button class="mybutton" style="margin-left: 50%;" onclick='return paymentGetway("<%=rs.cartId %>","<%=rs.price %>")'>Placed
                    Order</button></td>
            </tr>
            <%})%>
    </table><br>
    <!-- </form> -->
    <b style="margin-left: 50%;">Sub-Total :£ 800</b><br>
    <b style="margin-left: 50%;">Shipping-Charges :£ 50</b><br>
    <b style="margin-left: 50%;">Total :£ 850</b><br><br>

    <!-- <button class="mybutton" style="margin-left: 50%;" onclick='return paymentGetway()'>Placed
        Order</button> -->

    <script type="text/javascript">
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("mybtn");
        var closebtn = document.getElementById("closebtn");

        function openpopup() {
            modal.style.display = "block";
        }
        closebtn.onclick = function () {
            modal.style.display = "none";
        }

        function cartItemRemove(cid) {
            console.log("cid##", cid)
            var data1 = {
                "cartId": cid
            }
            $.ajax({
                url: "https://homedecorr.herokuapp.com/cartItemRemovee",
                enctype: 'application/json',
                type: "POST",
                // dataType:'json',
                data: data1,
                success: function () {
                    alert("Item deleted successfully, Reload the page")
                },
                error: function () {
                    alert("Oops. Something went wrong")
                }
            })
        }

        var totalPrice = "";
        getCartItems();
        function getCartItems() {
            $.ajax({
                url: "https://homedecorr.herokuapp.com/subtotalCartItem",
                enctype: 'application/json',
                type: "GET",
            }).done(function (data) {
                // console.log("data",data);
                console.log(data[0].subTotal)
                totalPrice = data[0].subTotal;
            });
        }

        var cIds;
        cIds = new Array();
        getCartItemsIds();
        function getCartItemsIds() {
            $.ajax({
                url: "https://homedecorr.herokuapp.com/cartItemIds",
                enctype: 'application/json',
                type: "GET",
            }).done(function (data) {
                // console.log("data",data);
                console.log("ids",data)
                data.forEach(element => {
                    cIds.push(element.id);
                    console.log(cIds);
                });
                // totalPrice = data[0].subTotal;
            });
        }

        function paymentGetway1() {
            console.log("totalPrice",totalPrice);
            console.log("cIds pay",cIds);
            var data1 = {
                "cartId": cIds,
                "cIdLength": cIds.length,
                "price": totalPrice
            }
            $.ajax({
                url: "https://homedecorr.herokuapp.com/paymentGetway",
                enctype: 'application/json',
                type: "POST",
                // dataType:'json',
                data: data1,

                // success: function (data) {
                //     console.log("data",data);
                //     // alert("Item deleted successfully, Reload the page")
                //     window.location.replace("https://payments-test.cashfree.com/order/#Mij93iHYjYdHdh1iVUX5", '_blank');
                // },
                // error: function () {
                //     alert("Oops. Something went wrong")
                // }
            }).done(function (data) {
                window.location.replace(data, '_blank');
            });
        }

        function paymentGetway(cid,price) {
            console.log("totalPrice",totalPrice);
            console.log("cIds pay",cIds);
            var data1 = {
                "cartId": cid,
                "price": price
            }
            $.ajax({
                url: "https://homedecorr.herokuapp.com/paymentGetway",
                enctype: 'application/json',
                type: "POST",
                // dataType:'json',
                data: data1,
            }).done(function (data) {
                window.location.replace(data, '_blank');
            });
        }
    </script>

    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>